<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>uryyb@fgrirxvaarl.arg</string>
	<key>contactName</key>
	<string>Steve Kinney</string>
	<key>description</key>
	<string>@stevekinney's JavaScript snippets and tools.</string>
	<key>name</key>
	<string>JavaScript (Steve)</string>
	<key>uuid</key>
	<string>7404F6C1-3196-4698-86B2-8CBCEBDF5F65</string>
</dict>
</plist>
